@model CarGuru.ViewModels.AgentViewModel
@inject CarGuru.Services.Interfaces.ISessionManager x;
@{
    ViewData["Title"] = "ServiceOrderList";
    var role = x.GetUserRoleId();
    Layout = CommonData.GetUserLayoutByRoleId(role);
}
@section scripts
{
    <script>
        $('#LeadsTable').DataTable({
            "bSort": false,
            "searching": false,
            "responsive": true,
            dom: 'Bfrtip',
            buttons: [

            ]
        });
    </script>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-8 col-md-8">
                    <h1>Leads</h1>
            </div>
            <div class="col-sm-4 col-md-6">

            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body leads table-responsive p-0">
                        <table class="table table-striped" id="LeadsTable" style="width:100%">
                            <thead class="bg-colorBlack">
                                <tr>
                                    <th>Customer</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                    @*<th class="actionColumn">Action</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model.Leads)
                                {
                                    <tr>
                                        <td>@item.CustomerName</td>
                                        <td>@item.Email</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>@item.CustomerAddress</td>
                                        <td id="status">@item.LeadStatus</td>
                                        @*<th>

                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="dropdown">
                                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a href="javascript:void(0);" class="dropdown-item"><i class="fas fa-user-plus">Follow Up</i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                       
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="modal fade" id="modal-Invoice">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-colorBlack">
                <h4 class="modal-title">Invoice</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row invoice-info">
                    <div class="col-sm-2"></div>

                    <h1>Service Orders</h1>

                </div>

                <div class="Tables"></div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>